/* Estilo da seção de músicas */
.musics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

/* Estilo do conteúdo da música */
.content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 30vh;
}

/* Estilo do elemento de áudio */
.content audio {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

/* Estilos da lista de álbuns */
.album {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

/* Estilo de cada item da lista de álbuns */
.album li {
  width: 32%;
  background-color: #f1f3f4;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  max-height: 200px;
  display: flex;
  gap: 20px;
  align-items: center;
  transition: transform 0.4s ease;
}

/* Efeito hover no item do álbum */
.album li:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo da imagem do álbum */
.album img {
  width: 30%;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* Efeito hover na imagem do álbum */
.album img:hover { 
  transform: scale(1.02);
  cursor: pointer;
}

/* Estilo do conteúdo do texto */
.textContent {
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

/* Estilo do parágrafo no conteúdo */
.textContent p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #404040;
}

/* Estilo do botão de favoritos */
.favorite {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Estilo do ícone de favorito */
.favorite svg {
  color: #ff9cff;
  width: 30px;
  height: 30px;
  transition: transform 0.4s ease;
}
.favorite svg:hover {
  transform: scale(1.5);
}

/* Media queries para responsividade */
@media (max-width: 467px) {
  .searchBar {
    width: 300px;
  }
  .premiumButton {
    width: 150px;
  }
}
@media (max-width: 867px) {
  .searchBar {
    width: 300px;
  }
  .icon {
    left: 28%;
  }
  .premiumButton {
    width: 200px;
    margin-right: 10px;
  }
}
@media (max-width: 375px) {
  .searchBar {
    width: 250px;
  }
  .premiumButton {
    width: 120px;
  }
  .iconsGroup {
    padding: 10px;
  }
}
