/* /* Estilos do cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
}

/* header container */
.left-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Estilo da imagem do ícone de música */
.iconImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}

/* Estilo da barra de busca */
.searchBar {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
}

/* Estilo do ícone da barra de busca */
.icon {
  position: absolute;
  left: 28%;
  color: #aaa;
}

/* Estilo do campo de entrada da busca */
.input {
  margin-left: 20px;
  padding-left: 35px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ff9cff;
  transition: background-color 0.6s ease-in, transform 0.4s ease;
}

/* Efeito hover no input */
.input:hover {
  background: linear-gradient(90deg, #ff9cff, #ffffff);
  transform: translateY(-3px);
}

/* Estilos do contêiner da direita */
.right-container {
  display: flex;
  align-items: center;
}

/* Estilo do botão premium */
.premiumButton {
  margin-right: 60px;
  color: #404040;
  height: 40px;
  width: 190px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ff9cff;
  cursor: pointer;
  transition: background-color 5s ease, transform 0.4s ease;
}

/* Efeito hover no botão premium */
.premiumButton:hover {
  transform: translateY(-3px);
  background: linear-gradient(90deg, #ff9cff, #ffffff);
}

/* Estilos do grupo de ícones */
.iconsGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  color: #404040;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ff9cff;
  padding: 20px;
}

/* Estilo do ícone de configurações */
.iconGear {
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Efeito hover no ícone de configurações */
.iconGear:hover {
  transform: translateY(-3px);
}

/* Estilo do ícone de notificações */
.iconBell {
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

/* Efeito hover no ícone de notificações */
.iconBell:hover {
  transform: translateY(-3px);
}

/* Estilo do ícone de lista */
.iconList {
  cursor: pointer;
  transition: transform 0.4s ease;
}

/* Efeito hover no ícone de lista */
.iconList:hover {
  transform: translateY(-3px);
}
